li a {
    color: #00FF00;
}
body {
    background: url("images/hs.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}